.hero__portrait-poly {
  margin-top: -1em;
  width: 100%;
  height: 100%;
}

.hero__heading {
  text-align: left
}

.hero__content {
  padding: 3em 0;
}

.hero__text {
  color: $text-color;
}

.hero__links {
  margin-top: 2em;
  text-align: center;

  &--social {
    visibility: hidden;

    @include screen(phone-only) {
      visibility: visible;
    }
  }
}