h2.contact__title Contact Me 
div.contact__form.pure-g
  //form(method="POST" data-netlify="true" netlify-honeypot="bot-field").contact__form.pure-u-1.pure-u-xl-1-2
  form(method="POST" action="https://formsubmit.co/521c6e8f4c94579ad2c52af3a373cebe").contact__form.pure-u-1.pure-u-xl-1-2
    input(type="text" name="_honey" style="display:none") 
    input(type="hidden" name="_next" value="https://portfolio.ainchn.com")
    //input(id="name" name="name" type="text" class="hidden" placeholder="Phone Number")
    div.contact__entry
      input(type="text" name="name" class="contact__input" placeholder=" " required)
      label(class="contact__label") Full Name
    div.contact__entry
      input(type="email" name="email" class="contact__input" placeholder=" " required)
      label(class="contact__label") Email 
    div.contact__entry
      textarea(type="message" name="message" class="contact__input contact__input--text" placeholder=" " required)
      label(class="contact__label") Write me a message...
    div.contact__submit
      input(id="submit" name="submit" type="submit" class="btn btn--pink-border" value="SUBMIT")
  div.contact__image.pure-u-1.pure-u-xl-1-2
      include ../assets/contact.svg
