include mixins.pug

div.footer__copyright
  hr 
  div Copyright ©  2021 Website and Artwork designed and created by 
  span
    a(href="https://github.com/7redeagle" target="_blank" rel="noopener") Ina Chen
  div.footer__links
    + social-links
