h2.skills__title Skills 
div.skills__grid
  div.skills__icons.pure-g
      .pure-u-1-3
        include /assets/skills/html5.pug
      .pure-u-1-3
        include /assets/skills/css3.pug
      .pure-u-1-3
        include /assets/skills/js.pug
      .pure-u-1-3
        include /assets/skills/pug.pug
      .pure-u-1-3
        include /assets/skills/sass.pug
      .pure-u-1-3
        include /assets/skills/bootstrap.pug
      .pure-u-1-3
        include /assets/skills/git.pug
      .pure-u-1-3
        include /assets/skills/github.pug
      .pure-u-1-3
        include /assets/skills/inkscape.pug
      .pure-u-1-3
        include /assets/skills/linux.pug
      .pure-u-1-3
        include /assets/skills/netlify.pug
      .pure-u-1-3
        include /assets/skills/jekyll.pug
//      .pure-u-1-3
        include /assets/skills/wordpress.pug
      .pure-u-1-3
        include /assets/skills/aws.pug
      .pure-u-1-3
        include /assets/skills/drupal.pug
